{
  "stage": 0,
  "compact": false,
  "optional": ["runtime"],
  "loose": [
    "es6.forOf",
    "es6.spread",
    "es6.destructuring",
    "es6.properties.computed",
    "es6.templateLiterals"
  ]
}
