@import '../mixins';
@import '../variables';
@import '../type';


.app-drawer {
  display: flex;
  flex-flow: column nowrap;

  width: $app-drawer-width;
  height: 100%;
  max-height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  border-right: 1px solid $app-drawer-border-color;
  background: $app-drawer-bg-color;

  @include shadow-16dp();

  // Transform offscreen.
  transform: translateX(-$app-drawer-width - 10px);
  transform-style: preserve-3d;
  will-change: transform;

  @include material-animation-default();
  transition-property: transform;

  color: $app-drawer-color;

  overflow: visible;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  z-index: 5;

  &.is-visible {
    transform: translateX(0);
    & ~ .application__content.application__content {
      overflow: hidden;
    }
  }

  @at-root &__title {
    display: flex;
    flex-flow: column nowrap;

    @extend %text-title;

    padding: 16px $app-header-indent-desktop;

    background: $ui-color-darkest-blue;

    @media screen and (max-width: $layout-screen-size-threshold) {
      padding: 16px $app-header-indent-mobile;
    }
  }

  .user-info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    margin-bottom: 16px;

    &__picture {
      @include circle(75px);
      box-shadow: 0 0 0 3px rgba(225, 235, 255, .7);

      margin: 3px 16px 3px 3px;
    }

    &__label {
      display: flex;
      flex-flow: column nowrap;
    }

    &__name {
      @extend %text-title;
    }

    &__username {
      @extend %text-small;
    }
  }

  .user-stats {
    display: flex;
    flex-flow: row nowrap;
    align-self: stretch;
    justify-content: space-between;

    background: $ui-color-darkest-blue;

    .user-stats__item {
      @extend %text-title;

      display: inline-flex;
      flex-flow: column nowrap;

      text-align: center;
    }

    .user-stats__label {
      @extend %text-small;
    }
  }

  > .app-drawer-button {
    position: absolute;
    top: 16px;
    right: $app-header-indent-desktop;

    @media screen and (max-width: $layout-screen-size-threshold) {
      right: $app-header-indent-mobile;
    }
  }

  @at-root &__spacer {
    flex-grow: 1;
  }

}


.app-drawer-button {
  @include box(32px);

  appearance: none;
  color: $app-drawer-color;
  background: transparent;

  border: none;
  outline: none;

  &:focus,
  &:active {
    outline: none;
  }
}

// FIXME: This does not belong here
.ui-menu {
  box-sizing: border-box;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  @at-root &__link {
    text-decoration: none;
    font-family: $app-font-family;
    font-weight: 500;
    font-size: $app-drawer-menu-font-size;
    margin: 0;

    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 16px $app-header-indent-desktop;
    color: $app-drawer-menu-color;

    @media screen and (max-width: $layout-screen-size-threshold) {
      padding: 16px $app-header-indent-mobile;
    }

    &:hover {
      background-color: $app-drawer-menu-link-active-background;
    }

    > .icon {
      margin-right: $app-header-indent-desktop;

      @media screen and (max-width: $layout-screen-size-threshold) {
        margin-right: $app-header-indent-mobile;
      }
    }

    &.is-active {
      background-color: $app-drawer-menu-link-active-background;
      color: $app-drawer-menu-link-active-color;
    }

  }
}
