@import "../mixins";


.app-login-form {
  display: flex;
  flex-flow: column nowrap;

  box-sizing: border-box;
  height: 100%;
  padding: 16px;
  overflow: hidden;
}

.mdl-card--login {
  box-sizing: border-box;
  max-width: 20em;
  margin: auto;
  padding: 2em 1em 1em;

  @include shadow-4dp();

  text-align: center;

  .mdl-button--login {
    @extend .mdl-button--raised;
    @extend .mdl-button--primary;

    min-width: 10em;
  }
}
