@import "../variables";
@import "../mixins";


$ui-spinner-size: 1em !default;
$ui-spinner-speed: 1.5s !default;

$ui-spinner-color-1: #d62d20 !default;
$ui-spinner-color-2: #0057e7 !default;
$ui-spinner-color-3: #008744 !default;
$ui-spinner-color-4: #ffa700 !default;


.ui-spinner {
  display: inline-block;
  line-height: 1;

  @include box($ui-spinner-size);

  animation: rotate 2s linear infinite;
  transform-origin: center center;

  @at-root &__circle {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
  }

  @at-root &--flat {
    > .ui-spinner__circle {
      stroke: $ui-color-orange;
    }
  }

  @at-root &--colored {
    > .ui-spinner__circle {
      animation:
        dash 1.5s ease-in-out infinite,
        color 6s ease-in-out infinite;
      stroke: initial;
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%, 0% {
    stroke: $ui-spinner-color-1;
  }
  40% {
    stroke: $ui-spinner-color-2;
  }
  66% {
    stroke: $ui-spinner-color-3;
  }
  80%, 90% {
    stroke: $ui-spinner-color-4;
  }
}
