<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='favicon/heart@72.png') }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='favicon/heart@144.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/heart@180.png') }}">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon/heart@32.png') }}">

<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/heart@32.png') }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/heart@96.png') }}" sizes="96x96">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/heart@192.png') }}" sizes="192x192">

<link rel="manifest" href="{{ url_for('static', filename='favicon/manifest.json') }}">

<meta name="msapplication-TileColor" content="black">
<meta name="msapplication-TileImage" content="{{ url_for('static', filename='favicon/heart@144.png') }}">

<meta name="theme-color" content="white">

<meta name="description" content="See who likes your photos the most" />

<meta property="og:title" content="Who Likes"/>
<meta property="og:description" content="See who likes your photos the most"/>
<meta property="og:image" content="http://wholikes.piratus.net/static/favicon/heart@192.png"/>
