@import 'mixins';
@import 'variables';


.application {
  @extend .mdl-layout;
  @extend .mdl-layout--fixed-header;

  @at-root &__header { @extend .mdl-layout__header; }
  @at-root &__header-row { @extend .mdl-layout__header-row; }
  @at-root &__header-spacer { @extend .mdl-layout-spacer; }

  @at-root &__title { @extend .mdl-layout__title; }

  @at-root &__drawer-button {
    @extend .mdl-layout__drawer-button;

    appearance: none;
    line-height: 1.7 !important;

    &:focus {
      outline: none;
    }
  }

  @at-root &__obfuscator { @extend .mdl-layout__obfuscator; }
  @at-root &__content { @extend .mdl-layout__content; }
}

.application.application__obfuscator {
  background: rgba(255, 255, 255, .5) !important;
}

