@import "mixins";


%text-normal {
  font-family: $app-font-family;
  @include responsive('font-size', 13px, 14px);
  font-weight: 400;
}

%text-strong {
  font-family: $app-font-family;
  @include responsive('font-size', 13px, 14px);
  font-weight: 500;
}

%text-small {
  font-family: $app-font-family;
  font-size: 12px;
  font-weight: 400;
}

%text-button {
  font-family: $app-font-family;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

%text-subheading {
  font-family: $app-font-family;
  @include responsive('font-size', 15px, 16px);
  font-weight: 400;
}

%text-title {
  font-family: $app-font-family;
  font-size: 20px;
  font-weight: 500;
}

%text-headline {
  font-family: $app-font-family;
  font-size: 24px;
  font-weight: 400;
}

%text-display-1 {
  font-family: $app-font-family;
  font-size: 34px;
  font-weight: 400;
}

%text-display-2 {
  font-family: $app-font-family;
  font-size: 45px;
  font-weight: 400;
}

%text-display-3 {
  font-family: $app-font-family;
  font-size: 56px;
  font-weight: 400;
}

%text-display-4 {
  font-family: $app-font-family;
  font-size: 112px;
  font-weight: 300;
}


.text--center {
  text-align: center;
}

.text--lead {
  @extend %text-title;
  font-weight: 300;
}

.text--small {
  @extend %text-small;
  line-height: 1.33;
}
