@import "mixins";
@import "variables";

@import "mdl/material";

@import "type";
@import "layout";

@import "components/app-drawer";
@import "components/spinner";
@import "components/photo-grid";
@import "components/login-form";


html, body, #root {
  height: 100%;
}

#root {
  background: $ui-color-dark;
}

.mdl-menu { clip: auto;  }

.mdl-card {
  width: 100%;
  min-height: initial;

  @at-root &__text-block {
    padding: 0 1em;
    margin-bottom: 1em;

    :last-child {
      margin-bottom: 0;
    }
  }

  @at-root &__supporting-text {
    p {
      font-size: 12px;
      line-height: 1.2;
    }
  }
}

.mdl-alert {
  @include shadow-4dp();
  height: auto;
  padding: 1em;
  border-radius: 2px;
  color: unquote("rgb(#{$color-dark-contrast})");
  background-color: unquote("rgb(#{$palette-red-500})");
}
